* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: hsl(33, 100%, 90%);
}

li {
  font-size: 14px;
  margin-left: 10px;
  list-style-position: inside; /* IMP */
  text-align : left;

}

h2 {
  background-color: skyblue;
  color: hsla(350, 100%, 88%, 1);
  padding: 10px;
  margin: 6px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 20px;
}
